

.jumbotron {
    text-align: center;

}
.col-md-8 {
    height: 600px;
    overflow: hidden;
}

.col-md-12 {
    border-bottom: solid slateblue;
    text-align: center;
    color: cadetblue;
    height: 60px;
    font-size: 24px;
    padding-top: 15px;
}

h1 {
    color: cadetblue;
}

.lead {
    color: slateblue;
}

hr {
    color: cadetblue;
}